@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$red: #e22623;
$black: #323232;
$gray4: #a3a3a0;
$gray2: #ccccc9;
$link-color: rgba(102, 159, 249, 1);
$link-color-hover: rgb(73, 117, 187);
$soft-gray: rgba(224, 224, 221, 0.16);
$bg: #f1f1ee;
$gray: #e0e0dd;
$green: #40a06a;
$normal: "Sohne-Buch";
$bolder: "Sohne-Halbfett";
$bold: "Sohne-Kraftig";
$gray3: rgb(172, 172, 172);
$gray1_5: rgba(224, 224, 221);
$border_gray: rgba(255, 255, 255, 1);
$border_gray_soft: rgba(204, 204, 201, 1);
$paragraph_gray: rgba(163, 163, 160, 1);
$pointer_old: url("/media/icon/pointer.svg"), auto;
$pointer: pointer;

.pulse {
  animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 $green;
  }

  70% {
    box-shadow: 0 0 0 10px transparent;
  }

  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}

/* LOADER */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 80px;
  &.black {
	div {
		position: absolute;
		top: 25%;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background: #323232 !important;
		animation-timing-function: linear;
		animation: lds-ellipsis1 0.45s infinite;
		animation-direction: alternate;
		transform: scale(0);
		
	  }
  }
}

.lds-ellipsis div {
  position: absolute;
  top: 25%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: linear;
  animation: lds-ellipsis1 0.45s infinite;
  animation-direction: alternate;
  transform: scale(0);
  
}
.lds-ellipsis div:nth-child(1) {
  left: 18%;
}
.lds-ellipsis div:nth-child(2) {
  left: 43%;
  animation-delay: 0.15s;
}
.lds-ellipsis div:nth-child(3) {
  left: 68%;
  animation-delay: 0.3s;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.pointer {
  cursor: pointer;
}
