@import './palette.scss';

.accordion_prev{
    border-radius:0px!important;
    border:1px solid $gray !important;
    margin:0;
    &:active,&:focus{
        background: $gray2;
    }
  /*   &.primo{
        border-radius:12px 12px 0px 0px !important;
    }
    &.ultimo{
        border-radius:0px 0px 12px 12px !important;
    } */
}
.container{
    max-height:80%;
    overflow-y: visible;
    overflow-x:hidden;
    &::-webkit-scrollbar-thumb {
        background: transparent;
        border: 0px none #ffffff;
        border-radius: 50px;
      }
}

